<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
    <link rel="stylesheet" href="../public/css/style.css">

</head>
<body>
    {{>SimpleHead}}
<div class="desc" align="center">
<h1>{{desc}}</h1>
</div>
    
    {{>footer}}
</body>
</html>